.alerter {
  background-color: black;
  color: white;
  border-radius: 10px;
  margin: 1rem;
  height: 25%;
  font-size: large;
  border: none;
  outline: none;
  cursor: pointer;
}

.alerter:checked {
  border-color: white !important;
}
