@import "../theme.scss";

.section {
  background-color: $backgroundLayoutSections;
  width: 100%;
  margin: 0;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  border-radius: 0.3rem;
}

.title {
  color: $colorTextTitle;
  font-size: calc(1em + 1vw);
}
